@font-face {
    font-family: 'Arquitecta-Heavy';
    src:  url('./fonts/site/ArquitectaHeavy.otf');
    font-weight: 900;
  }

  @font-face {
    font-family: 'BebasKai-normal';
    src:  url('./fonts/site/BebasKai.otf') format('otf')  ;
    font-weight: 400;
  }
  

  @font-face {
    font-family: 'Myanmar-MN-bold';
    src:  url('./fonts/site/myanmar mn_1.ttf') format('ttf') ;
    font-weight: 700;
  }
  @font-face {
    font-family: 'OpenSans-Light';
    src:  url('./fonts/site/OpenSans-Light.ttf') format('ttf') ;
    font-weight: 300;
  }